@import './../../_variables.scss';

nav div li {
  list-style-type: none;

  a {
    text-decoration: none;
    color: $color-grey-100;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
        text-decoration: underline;
    }
  }
}

td {
  text-align: center;
  vertical-align: middle;
}
