@import './../../_variables.scss';

nav div li {
  list-style-type: none;

  a {
    text-decoration: none;
    color: $color-grey-100;
    font-weight: bold;
  }
}

td {
  text-align: center;
  vertical-align: middle;
}
