@import './../../_variables.scss';

.toggle-button {
    transition: background-color 0.3s ease, color 0.3s ease;

    &.active {
        background-color: $color-red;
        color: $color-white;
    }
}
