$color-white: #ffffff;
$color-grey-50: #f0f0f0;
$color-grey-100: #eee;
$color-grey-200: #e8e8e8;
$color-grey-250: #e0e0e0;
$color-grey-300: #777;
$color-grey-400: #666;
$color-grey-500: #555;
$color-grey-600: #444;
$color-grey-700: #333;
$color-grey-800: #222;
$color-grey-900: #111;
$color-blue: #3498db;
$color-blue-dark: #3f51b5;

$color-grey-alpha-20: rgba(0, 0, 0, 0.2);
$color-grey-alpha-30: rgba(0, 0, 0, 0.3);
$color-grey-alpha-50: rgba(0, 0, 0, 0.5);

$color-red: #ff0000;

$color-dark: #161617;
