@import '_variables.scss';

body {
  margin: 0;
  font-family: "Noto Sans Palmyrene", sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, #root {
  background-color: #161617;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav > div > div {
  margin-left: 50px;

  & > li {
    padding-right: 25px;
  }
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed $color-grey-500;
  color: $color-grey-600;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;

  &:hover {
    background: $color-grey-100;
    border-color: $color-grey-900;

    .drop-title {
      color: $color-grey-800;
    }
  }
}

.drop-title {
  color: $color-grey-600;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

.center {
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 10px;
}

h1, h2 {
  color: $color-white !important;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as necessary */

  button {
    flex: 1;
    padding: 15px 20px;
    margin: 0 10px; /* Space between buttons */
    border-radius: 10px; /* Rounded corners */
    border: none;
    background-color: $color-grey-50; /* Default background */
    color: $color-grey-400; /* Default text color */
    box-shadow: 0 2px 5px $color-grey-alpha-20; /* Subtle shadow */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color-grey-250;
    }

    &.active {
      background-color: $color-blue-dark; /* Active background */
      color: $color-white; /* Active text color */
      box-shadow: 0 4px 10px $color-grey-alpha-30; /* Elevated shadow */
      transform: translateY(-3px); /* Raised effect */
    }

    .icon {
      font-size: 1.5em; /* Icon size */
      margin-bottom: 5px; /* Space between icon and label */
    }

    .label {
      font-size: 0.9em; /* Label size */
      text-transform: uppercase; /* Uppercase label */
      letter-spacing: 1px; /* Spacing between letters */
    }
  }
}

.selected {
  background-color: $color-grey-200; /* or any other color that fits your design */
}

label span {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-grey-alpha-50;
  z-index: 1000;
}

.spinner {
  border: 5px solid $color-grey-50;
  border-top: 5px solid $color-blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.logo-czu {
  max-width: 100px;
  max-height: 100px;
}
